.footerscreen {
    color: rgba(240, 232, 232, 0.651);
    width: 100vw;
}
.footer-avatar {
    display: flex;
    justify-content: space-between;
}
.footer-avatar div {
    padding: 8px;
    margin: 20px;
    border-bottom:0.01px solid whitesmoke;
}
.footer-waper {
    display: flex;
    justify-content: space-evenly;
    padding: 6px;
    margin: 60px 10px;
    border-bottom:0.3px solid white;
    box-shadow: 0px 2px 1px  rgba(53, 104, 163, 0.568);
    padding-bottom: 20px;
}
.footer-waper h5 {
    border-bottom: 0.4px solid gray;
    border-width: 2px;
}
.footer-waper p {
    font-size: 12px;
    font-weight: 100;
    font-family: cursive;
    cursor: pointer;
}
.footer-waper p:hover {
    color: cyan;
}
.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-bottom > button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    margin: 25px;
    outline: none;
    background-color: transparent;
    color: rgba(240, 232, 232, 0.651);
    border-radius: 10px 30px;
    border: 0.5px solid whitesmoke;

}
.footer-bottom > button:hover {
    color: tomato;
    background-color: rgb(41, 103, 139);
}
.footer-social-link .MuiSvgIcon-root {
    padding: 4px;
    margin: 5px;
    transition: all 400ms ease;
}
.footer-social-link .MuiSvgIcon-root:hover {
    color: tomato;
    background-color: rgba(240, 232, 232, 0.1);
    border-radius: 1px 8px;
}
.footer-copy {
    color: #444;
    font-size: smaller;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 22px;
    margin: 30px 0px 10px 5px;
}
.footer-copy p {
margin: 8px;
}
